* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* body{
                
            } */

.fila1,
.fila2,
.fila3,
.fila4,
.fila5,
.fila6,
.fila7,
.fila8 {
  padding: 0 90px;
}

.fila1 {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1% 90px;
}

#seccion11 {
  display: flex;
  align-items: center;
  gap: 30px;
}

#seccion12 {
  display: flex;
  justify-items: end;
  align-items: center;
  gap: 30px;
  justify-content: flex-end;
}

#p1 {
  display: flex;
  gap: 6px;
}

#p2 {
  display: flex;
  gap: 6px;
}

#english {
  color: #5bb326;
  display: flex;
  align-items: center;
  gap: 10px;
}
#english p {
  color: black;
}
#sitemap {
  display: flex;
  display: flex;
  align-items: center;
  gap: 10px;
}

.fila2 {
  display: flex;
  background-color: #5bb326;
  flex-direction: column;
}

.seccion21 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#drug {
  display: flex;
  padding-top: 5px;
  padding-bottom: 15px;
  align-items: center;
}

.qg {
  display: flex;
  flex-direction: row;
  padding-bottom: 1%;
}

#q1 {
  padding-top: 12px;
}

#q1 h4 {
  text-align: end;
  color: white;
  padding-bottom: 7px;
}

#a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 80px;
}

#e {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 80px;
}

#busqueda {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

#busqueda button {
  background-color: #444;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

#busqueda input {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

#q2 {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  margin-left: 12px;
  gap: 60px;
}

#q2 img {
  width: 65px;
  height: 65px;
}

#carrito {
  display: flex;
  justify-content: end;
  align-items: center;
}
#carrito h5 {
  color: rgb(72 67 67 / 38%);
}

#cart {
  display: grid;
  align-content: center;
  justify-content: start;
}

#ult {
  display: grid;
  align-items: center;
  justify-items: center;
  padding-top: 20px;
  padding-right: 20px;
}

.seccion22 {
  display: flex;
  background-color: #f0eef1;
  border-radius: 5px;
}

#lado1 {
  display: flex;
}

.nonegrito {
  display: grid;
  align-items: center;
  padding: 20px 5px 20px 5px;
  border: 0.1px solid white;
}

#negrito {
  display: grid;
  align-items: center;
  padding: 20px 5px 20px 5px;
  background-color: #3c3a3c;
  color: white;
}

.fila3 {
  display: flex;
  flex-direction: column;
}

#señora {
  margin-top: 3%;
}

.im {
  margin-top: 3%;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

#im1,
#im2,
#im3 {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  background: linear-gradient(#5bb326 35%, #f0eef1 0%);
  position: relative;
  padding: 15px 15px 0 15px;
  max-height: 146px;
}
#cd1 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 40px;
  max-width: 80%;
}
#cd2 {
  max-width: 80%;
}

#cd2 h5 {
  font-size: 13px;
  color: #555;
  margin: 0 0 5px;
}
#cd2 h4 {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 3px;
}
#cd2 h3 {
  color: #5bb326;
  font-size: 28px;
  font-weight: bold;
}
.im img {
  position: absolute;
  top: 23%; 
  right: 0; 
  max-width: 95px;
  height: auto;
  transform: translateY(-20%);
}
#imagen3 {
  max-width: 110px;
  top: 38px;
}
.fila4 {
  margin: 3% 90px 0 90px;
  padding: 15px;
  background-color: #f0eef1;
}

.fila5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3%;
  row-gap: 18px;
  margin-top: 3%;
}
.shop {
  border: 1px solid black;
  padding: 10px 21px;
  border: 1px solid #a1a1a178;
}
.productosimg {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.shop img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.compras {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}
#buttonx {
  background-color: #444;
  color: white;
  border: none;
}
.compras button {
  background-color: #5bb326;
  color: white;
  border: none;
}
.carrito2,
.carrito3 {
  display: flex;
  background-color: white;
}
.carrito3 img {
  height: 33px;
  background-color: #5bb326;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.carrito2 img {
  height: 33px;
  background-color: #444;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.sale p {
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  width: fit-content;
}
.salen p {
  background-color: white;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  width: fit-content;
}
.salen {
  color: white;
}
.shop h3 {
  color: #5bb326;
}
.shop h5 {
  color: gray;
}
.shop .salen,
.shop .sale,
.shop h3,
.shop h4,
.shop h5,
.compras {
  margin-bottom: 6px;
}
.precio {
  display: flex;
  gap: 10px;
  align-items: center;
}
.precio h4 {
  color: rgb(247, 101, 101);
  text-decoration: line-through;
}
.recuadromay {
  display: grid;
  margin-top: 2%;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.recuadros {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 20px;
  text-align: center;
  background-color: #f0eef1;
}
.recuadros h2 {
  color: #5bb326;
}
.fila7 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #3c3a3d;
  margin-top: 2%;
  padding: 2.5% 90px;
}
.fila7 h4 {
  color: white;
  margin-bottom: 15px;
}
.fila7 h5 {
  display: flex;
  gap: 15px;
  color: rgba(255, 255, 255, 0.644);
  margin-bottom: 10px;
  align-items: center;
}
.fila7 h5 p,
.info h5 p {
  color: #5bb326;
}
.info h5 img {
  width: 20px;
  height: 20px;
}
#Special {
  color: #5bb326;
}
#contact {
  color: white;
}
.fila8 {
  padding: 9px 90px;
  background-color: #333134;
  color: rgba(255, 255, 255, 0.644);
  font-size: 13px;
}
@media (max-width: 1734px) {
  #cd1 {
    margin-bottom: 30px;
  }
}
@media (max-width: 1486px) {
  #im3 #cd1 {
    margin-bottom: 11px;
  }
}
@media (max-width: 1381px) {
  #im1 #cd1 {
    margin-bottom: 11px;
  }
}
@media (max-width: 1261px) {
  #im2 #cd1 {
    margin-bottom: 11px;
  }
}
@media (max-width: 1165px) {
  .fila2,
  .fila3,
  .fila5,
  .fila6 {
    padding: 0 50px;
  }
  .fila1 {
    padding: 1% 50px;
  }
  .fila4 {
    margin: 3% 50px 0 50px;
    padding: 15px;
  }
  .fila7 {
    padding: 2.5% 50px;
  }
  .fila8 {
    padding: 9px 50px;
  }
}
@media (max-width: 1065px) {
  .fila2,
  .fila3,
  .fila5,
  .fila6 {
    padding: 0 20px;
  }
  .fila1 {
    padding: 1% 20px;
  }
  .fila4 {
    margin: 3% 20px 0 20px;
    padding: 15px;
  }
  .fila7 {
    padding: 2.5% 20px;
  }
  .fila8 {
    padding: 9px 20px;
  }
}
@media (max-width: 1000px) {
  .fila2,
  .fila3,
  .fila5,
  .fila6 {
    padding: 0;
  }
  .fila4 {
    margin: 3% 0px 0 0px;
    padding: 15px;
  }
}
@media (max-width: 950px) {
  .im {
    grid-template-columns: repeat(2, 1fr);
  }
  #im1 #cd1,
  #im2 #cd1,
  #im3 #cd1 {
    margin-bottom: 20px;
  }
  .fila5 {
    grid-template-columns: repeat(3, 1fr);
  }
  .seccion21 {
    flex-direction: column;
  }
  #drug {
    justify-content: center;
  }
  .qg {
    justify-content: space-around;
    margin-bottom: 2%;
  }
  #q1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 874px) {
  #seccion12,
  #seccion11 {
    gap: 6px;
  }
  #im3 #cd1 {
    margin-bottom: 11px;
  }
  .fila7 {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
  }
}
@media (max-width: 794px) {
  #im1 #cd1 {
    margin-bottom: 11px;
  }
}
@media (max-width: 714px) {
  #im2 #cd1 {
    margin-bottom: 11px;
  }
}
@media (max-width: 715px) {
  .fila5 {
    grid-template-columns: repeat(2, 1fr);
  }
  .recuadromay {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 650px) {
  #negrito,
  .nonegrito {
    text-align: center;
  }
  .im {
    grid-template-columns: repeat(3, 1fr);
  }
  #im1,
  #im2,
  #im3 {
    max-height: none;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#5bb326 23%, #f0eef1 0%);
  }
  .im img,
  #imagen3 {
    position: relative;
    transform: none;
    top: 0;
    max-width: 95px;
    max-height: 153px;
  }
  .caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #im1 #cd1,
  #cd1 #im3 {
    margin-bottom: 5px;
  }
  #im2 #cd1 {
    margin-bottom: 22px;
  }
}
@media (max-width: 631px) {
  #im2 #cd1 {
    margin-bottom: 5px;
  }
}
@media (max-width: 600px) {
  #seccion11,
  #seccion12 {
    flex-direction: column;
  }
}
@media (max-width: 553px) {
  .im {
    grid-template-columns: repeat(2, 1fr);
  }
  #im1 #cd1,
  #im2 #cd1,
  #im3 #cd1 {
    margin-bottom: 22px;
  }
  .fila7 {
    grid-template-columns: repeat(2, 1fr);
  }
  #im3 {
    width: 150%;
    margin-left: 60px;
  }
}

@media (max-width: 476px) {
  #im1 #cd1 {
    margin-bottom: 5px;
  }
}

@media (max-width: 470px) {
  #busqueda input {
    font-size: 8px;
  }
  #q2 {
    gap: 0;
  }
}
@media (max-width: 450px) {
  #im3 {
    margin-left: 50px;
  }
}
@media (max-width: 430px) {
  .seccion22 {
    flex-direction: column;
  }
  #lado1 {
    flex-direction: column;
  }
  #negrito, .nonegrito{
    padding: 10px 5px;
  }
  #a {
    font-size: 75px;
  }
  #e {
    font-size: 75px;
  }
}
@media (max-width: 414px) {
  #im2 #cd1 {
    margin-bottom: 5px;
  }
}
@media (max-width: 408px) {
  .fila5 {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
  #a {
    font-size: 70px;
  }
  #e {
    font-size: 70px;
  }
  #im3 {
    margin-left: 42px;
  }
}
@media (max-width: 370px) {
  .fila7 {
    font-size: 14px;
  }
  #a {
    font-size: 65px;
  }
  #e {
    font-size: 65px;
  }
  .fila1 {
    font-size: 14px;
  }
}
@media (max-width: 365px) {
  #im1 #cd1,
  #im2 #cd1,
  #im3 #cd1 {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  #a {
    font-size: 60px;
  }
  #e {
    font-size: 60px;
  }
  .qg {
    flex-direction: column;
  }
  #q1 {
    align-items: center;
    padding-top: 0;
  }
  #busqueda input {
    font-size: 15px;
  }
  #q2 {
    margin-right: 12px;
    gap: 170px;
  }
  .im {
    grid-template-columns: 1fr;
  }
  #im3 {
    width: auto;
    margin-left: 0;
  }
  #im1 #cd1 {
    margin-bottom: 30px;
  }
  #im2 #cd1 {
    margin-bottom: 30px;
  }
}
@media (max-width: 340px) {
  #im1 #cd1 {
    margin-bottom: 22px;
  }
}
@media (max-width: 336px) {
  #q2 {
    gap: 160px;
  }
}
@media (max-width: 325px) {
  .fila1 {
    font-size: 12px;
  }
  #a {
    font-size: 55px;
  }
  #e {
    font-size: 55px;
  }
  .fila7 {
    font-size: 12px;
  }
  .recuadromay {
    gap: 15px;
  }
  #q2 {
    gap: 150px;
  }
}
@media (max-width: 310px) {
  #q2 {
    gap: 140px;
  }
}
@media (max-width: 300px) {
  #q2 {
    gap: 130px;
  }
}
